# Dependencies
node_modules

# Build output
dist

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.sw?

# OS
.DS_Store
Thumbs.db

# Local env files
*.local

# TypeScript
*.tsbuildinfo

# Claude
.claude
CLAUDE.md